numpy==1.24.4 
pandas==1.5.3 
pandas_ta==0.3.14b0
altair
attrs
bcrypt
beautifulsoup4
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
folium
frozendict
geographiclib
geopy
gitdb
GitPython
html5lib
idna
Jinja2
jsonschema
jsonschema-specifications
lxml
markdown-it-py
MarkupSafe
mdurl
multitasking
narwhals
opencv-python
packaging
patsy
peewee
pillow
platformdirs
plotly
protobuf
pyarrow
pydeck
Pygments
python-dateutil
python-dotenv
referencing
requests
requests-futures
rich
rpds-py
scipy
six
smmap
soupsieve
statsmodels
streamlit
streamlit-lottie
streamlit-option-menu
streamlit_folium
setuptools
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
webencodings
xyzservices
yahooquery
yfinance
