absl-py
altair
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
fiona
flatbuffers
folium
fonttools
fqdn
frozendict
gast
geographiclib
geopandas
geopy
gitdb
GitPython
google-pasta
grpcio
h11
h5py
html5lib
httpcore
httpx
idna
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
multitasking
namex
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
peewee
pillow
pip
platformdirs
plotly
prometheus_client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
pyproj
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
Send2Trash
setuptools
shapely
six
smmap
sniffio
soupsieve
stack-data
streamlit
streamlit-folium
streamlit-lottie
streamlit-option-menu
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
wrapt
xyzservices
yfinance